<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/signin.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600;700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
    </style>
  </head>
  <body>

    <div class="main-container">

      <div class="mid-container">
        <h1 class='title'>ReviewT</h1>
        <form action="/sessions" method="POST">

            <div class="container">

              <label for="username"></label>
              <input placeholder="USERNAME" class='fields' type="text" name="username" required oninvalid="this.setCustomValidity('Please enter your username!')"
              oninput="this.setCustomValidity('')"/>

              <label for="password"></label>
              <input class='fields' type="password" name="password" placeholder="PASSWORD" required oninvalid="this.setCustomValidity('Please enter your password!')"
              oninput="this.setCustomValidity('')"/>

              <input class='submit' type="submit" value="LOG IN">
            </div>

        </form>

        <h3 class="signup">Not a ReviewT member?</h3>

        <a class="link" href="/users/signup">SIGN UP</a>
      </div>

    </div>





  </body>
</html>
