<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reviewt | Sign-Up</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="icon" type="image/x-icon" href="/images/yellow-star.png" />
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600;700&family=Fredoka+One&family=Tajawal:wght@200;300;400;500;700;800;900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
    </style>
  </head>
  <body>

    <div class="main-container">

      <div class="mid-container">
        <h1 class = 'title' >START REVIEWING YOUR PRODUCTS <br> TODAY!</h1>
          <form action="/users" method="POST">

          <div class="container">
            <h5 class='star'>★★★★☆</h5>
            <fieldset class=info>
              <legend>Reviewt</legend>

              <label for="name"></label>
              <input class='items' type="text" name="name" placeholder="NAME *" required oninvalid="this.setCustomValidity('Enter your name')"
              oninput="this.setCustomValidity('')"/>

              <label for="img"></label>
              <input class='items' type="text" name="img" placeholder="PROFILE PIC"
              />

              <textarea placeholder="TELL US SOMETHING (OR A FEW THNGS) ABOUT YOURSELF *" class='about' name="about" required oninvalid="this.setCustomValidity('This field is required')"
              oninput="this.setCustomValidity('')" pattern="[A-Za-z0-9\s\W+]{8,300}"></textarea>


              <select name="favStore" class="items">
                <option value="NONE">FAVORITE RETAILER</option>
                <option value="Wasn't Listed">Not Listed</option>
                <option value="Target">Target</option>
                <option value="Amazon">Amazon</option>
                <option value="Best Buy">Best Buy</option>
                <option value="Walmart">Walmart</option>
                <option value="Costco">Costco</option>
                <option value="The Home Depot">The Home Depot</option>
                <option value="Apple">Apple</option>
                <option value="TJX Companies">TJX Companies</option>
                <option value="Rite Aid">Rite Aid</option>
                <option value="Nordstorm">Nordstrom</option>
                <option value="AutoZone">AutoZone</option>
                <option value="Petsmart">Petsmart</option>
                <option value="Staples">Staples</option>
                <option value="GamesStop">GamesStop</option>
                <option value="Foot Locker">Foot Locker</option>
                <option value="Hobby Lobby">Hobby Lobby</option>
                <option value="Anything Online">Anything Online</option>
              </select>

              <label for="name"></label>
              <input placeholder="USERNAME *" class='items' type="text" name="username" required oninvalid="this.setCustomValidity('User name must be 2-15 characters long with no symbols')"
              oninput="this.setCustomValidity('')" pattern="[A-Za-z\s]{2,16}"/>

              <label for="password"></label>
              <input class='items' type="password" name="password" placeholder="PASSWORD *" required oninvalid="this.setCustomValidity('Password must be 5-16 characters long with at least 1 letter')"
              oninput="this.setCustomValidity('')" pattern="[A-Za-z0-9\W+]{5,16}"/>
            </fieldset>

            <input class='submit' type="submit" value="SIGN UP">

          <form>

          <h3 class='signin'>Already a Reviewt member?</h3>
          <a class='link' href="/sessions/signin">SIGN IN</a>
          </div>

      </div>

    </div>

  </body>
</html>
