<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class = 'title' >Sign Up</h1>
      <form action="/users" method="POST">

        <fieldset class=info>
          <legend>PROFILE INFO</legend>
          <label for="img"></label>
          <input class='items' type="text" name="img" placeholder="PROFILE PIC"
         />

          <label for="name"></label>
          <input class='items' type="text" name="name" placeholder="NAME" required/>

          <label for="name"></label>
          <input placeholder="USERNAME" class='items' type="text" name="username" required/>

          <label for="password"></label>
          <input class='items' type="password" name="password" placeholder="PASSWORD" required/>
        </fieldset>

        <input class='submit' type="submit" value="SIGN UP">

      <form>

      <h3>Already a ReviewT member? Sign in!</h3>
      <a href="/sessions/signin">SIGN IN</a>

  </body>
</html>
