<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/signup.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600;700&family=Fredoka+One&family=Tajawal:wght@200;300;400;500;700;800;900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
    </style>
  </head>
  <body>

    <div class="main-container">

      <div class="mid-container">
        <h1 class = 'title' >START REVIEWING YOUR PRODUCTS <br> TODAY!</h1>
          <form action="/users" method="POST">

          <div class="container">
            <h5 class='star'>★★★★☆</h5>
            <fieldset class=info>
              <legend>Reviewt</legend>

              <label for="name"></label>
              <input class='items' type="text" name="name" placeholder="NAME *" required oninvalid="this.setCustomValidity('Enter your name')"
              oninput="this.setCustomValidity('')"/>

              <textarea placeholder="TELL US SOMETHING (OR A FEW THNGS) ABOUT YOURSELF *" class='about' name="about" required oninvalid="this.setCustomValidity('This field is required')"
              oninput="this.setCustomValidity('')" pattern="[A-Za-z0-9\s\W+]{8,300}"></textarea>

              <label for="img"></label>
              <input class='items' type="text" name="img" placeholder="PROFILE PIC"
             />



              <label for="name"></label>
              <input placeholder="USERNAME *" class='items' type="text" name="username" required oninvalid="this.setCustomValidity('User name must be 2-15 characters long with no symbols')"
              oninput="this.setCustomValidity('')" pattern="[A-Za-z\s]{2,16}"/>

              <label for="password"></label>
              <input class='items' type="password" name="password" placeholder="PASSWORD *" required oninvalid="this.setCustomValidity('Password must be 5-16 characters long with at least 1 letter')"
              oninput="this.setCustomValidity('')" pattern="[A-Za-z0-9\W+]{5,16}"/>
            </fieldset>

            <input class='submit' type="submit" value="SIGN UP">

          <form>

          <h3 class='signin'>Already a Reviewt member?</h3>
          <a class='link' href="/sessions/signin">SIGN IN</a>
          </div>

      </div>

    </div>

  </body>
</html>
