<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>POST A PRODUCT YOU WANT TO REVIEW!</h1>

    <form class="" action="/main" method="post">

      <input class = 'items' type="text" name="name" placeholder='NAME*'>
      <input class = 'items' type="text" name="title" placeholder='TITLE*'>
      <input class = 'items' type="text" name="price" placeholder='PRICE'>
      <input class = 'items' type="text" name="description" placeholder='DESCRIPTION OF THE PRODUCT*'>

      <input class = 'items' type="text" name="boughtAt" placeholder="PLACE OF PURCHASE*">
      <input type="text" name="img" placeholder="IMG URL" >
      <h3>Recommend to a friend? <input class = 'items' type="checkbox" name="recommend" ></h3>
      <input type="submit" name="" value="POST">
    </form>

  </body>
</html>
