<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/profile.css">
  </head>
  <body>

<div class="container">
  <h2><%= profile.username %>'s ReviewT Profile</h2>
  <h3><%= profile.name %></h3>
  <img class='img' src="<%= profile.img %>" alt="" onerror="this.src='https://unc.nc/wp-content/uploads/2020/07/Portrait_Placeholder.png'">
</div>

  </body>
</html>
