.product-container {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.product-img {
  width: 20%;
}
