body {
  background: #4aa6a988;
}

.logo {
  font-size: 50px;
  text-decoration: none;
  color: white;
  font-family: caveat;
  text-shadow: 0px 0px 5px yellow;
}
.title-div {
  display: flex;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  margin: 0 0 0 35px;
}
.profile-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  width: 50%;
  margin-right: 40px;
  padding: 0;

  /* height: 60px; */
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 3px #0009;
}
.username-nav {
  font-size: 30px;
  margin-right: 15px;
  color: #fff;
  margin: 0 15px 0 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #383838;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  box-shadow: 0 0 15px 0px #0008;
}

.page {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.side-container {
  /* background: #3335; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  border: 5px solid #fff4;
  margin-right: 17px;
  background: white;
  border-radius: 8px;
  height: 300px;
  padding: 10px 0;
  box-shadow: 0 0 10px 2px #0003;
}

.side-links {
  text-decoration: none;
  margin: 8px 10px;
  font-size: 22px;
  color: black;
  padding: 0px 10px;
  padding-top: 10px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  font-family: tajawal;
}

.side-links:hover {
  background: #28282822;
}

.product-container {
  display: flex;
  justify-content: center;
  width: 81%;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* background: #0007; */
  /* border: 5px solid #0009; */
  padding: 20px 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px #0003;
}

.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40%;
  /* border: 1px solid black; */
  margin: 10px;
  padding: 20px 0;
}

.img-div {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.product-img {
  width: 25%;
  border-radius: 5px;
}

.name {
  text-decoration: none;
  color: #1da5cd;
  font-family: bebas neue;
  letter-spacing: 1px;
  padding: 3px 10px 0 10px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  font-size: 30px;
}
.name:hover {
  background: #5552;
}
.title {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Yanone Kaffeesatz;
  font-weight: 400;
}

.post {
  text-decoration: none;
  color: #fff;
  font-size: 80px;
  background: #383838;
  position: fixed;
  bottom: 35px;
  right: 40px;
  padding-bottom: 9px;
  height: 70px;
  width: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.3s ease-in-out;
  font-weight: 900;
  box-shadow: 0 0 10px 2px #0003;
  text-shadow: 0px 0px 5px yellow;
}
.post:hover {
  transform: rotate(180deg);
}
