body {
  background: #2b2b2b;
}

.star {
  color: #ffe62e;
  text-shadow: 0 0 5px #000;
  position: absolute;
  top: 7.5%;
  left: 24%;
  font-size: 30px;
  transform: rotate(-23deg);
}

.title {
  font-family: Yanone Kaffeesatz;
  font-size: 40px;
  margin: 35px 0;
  color: #a1fb00;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px #000;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 5% auto;
}
.mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: #5eefca;
  width: 40%;
  padding: 3% 7%;
  border-radius: 15px;
  margin-top: 0px;
  box-shadow: 0 0 25px 10px #0005;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

legend {
  font-size: 30px;
  color: yellow;
  text-shadow: 0 0 8px black;
  font-size: 50px;
  font-family: caveat;
  font-weight: 500;
  margin: 20px 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px;
  padding-bottom: 20px;
  width: 170%;
}

.items {
  border: none;
  background: #0005;
  margin-bottom: 12px;
  height: 44px;
  width: 260px;
  color: white;
  border-radius: 4px;
  font-size: 23px;
  outline: none;
  transition: 0.3s ease-in-out;
}
.items:hover {
  background: #0007;
  width: 270px;
}
.about {
  border: none;
  background: #0005;
  margin-bottom: 12px;
  height: 124px;
  width: 260px;
  color: white;
  border-radius: 4px;
  font-size: 23px;
  outline: none;
  max-height: 300px;
  resize: vertical;
  font-family: tajawal;
  min-height: 44px;
  max-width: 260px;
  min-width: 260px;
}
.about:hover {
  background: #0007;
  /* width: 240px; */
}
.submit {
  height: 44px;
  border-radius: 4px;
  font-size: 25px;
  background: #68ad00;
  border: none;
  margin-top: 20px;
  width: 220px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: #fff;
}
.submit:hover {
  width: 240px;
  background: #87cb0a;
  font-size: 28px;
  color: #0009;
}
::placeholder {
  color: #fff9;
  padding-left: 5px;
}
.signin {
  color: #333333;
  font-size: 35px;
  font-family: Yanone Kaffeesatz;
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
  font-size: 32px;
  color: #0009;
  padding: 2px 7px;
  padding-top: 5px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  font-family: bebas neue;
}
.link:hover {
  background: #3eaf9a;
  color: #fff9;
}
