<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <a href="/main">BACK</a>
    <br />
    <a href="/authors/new">CREATE A NEW AUTHOR</a>

    <br />

    <h2>list of authors</h2>

    <% for(let i = 0; i < authors.length; i++){ %>
    <li>
      <a href="/authors/<%=authors[i]._id%>"><%=authors[i].name%></a>
    </li>
    <% } %>
  </body>
</html>
