<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <a href="/main">HOME</a>
    <br />
    <a href="/authors">BACK</a>

    <br />
    <br />

    <form action="/authors" method="post">
      <input type="text" name="name" value="" placeholder="name" />
      <input type="submit" name="" value="SUBMIT" />
    </form>
  </body>
</html>
